body {
  background: rgb(55, 55, 90) ;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

.container {
  margin: 50px auto 0;
  max-width:90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 90%;
  background-color: #FFF;
  border-radius: 4px;
  padding: 30px;
}